body {
  background-color: #252826;
  color: #f0f0f0;
}

a {
  color: #f0f0f0;
}

.clear {
  overflow: auto;
}

table {
  border-collapse: collapse;
}

table td, th {
  border: 1px solid #FFFFFF;
}

th {
  padding: 3px 5px;
}

.meter {
  margin: 3px;
	height: 7px;  /* Can be anything */
  width: 70px;
	background: #555;
	padding: 2px;
}

.meter > span {
  display: block;
  height: 100%;
  background-color: rgb(43,194,83);
  background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  );
  overflow: hidden;
}

th .sorted {
  font-size: 0.6em;
  display:inline-block;
  width: 16px;
  height: 16px;
  text-indent: 100%;
  overflow: hidden;
}

.sorted.order-descending {
  background-image: url('../img/descending.png');
}

.sorted.order-ascending {
  background-image: url('../img/ascending.png');
}

.styled_table tbody tr:nth-child(odd) td {
  background-color: #121212;
}

.styled_table th, .styled_table td {
  border-color: #969696;
}

.styled_table th, .styled_table td {
  border-top: 0;
  border-bottom: 0;
}
.styled_table th:first-child, .styled_table td:first-child {
  border-left: 0;
}
.styled_table th:last-child, .styled_table td:last-child {
  border-right: 0;
}

.styled_table thead th {
  border-bottom: 4px solid #373737;
}

.ranking_table th.medals a {
  display: inline-block;
  width: 8px;
  text-indent: 100%;
  overflow: hidden;
}

.ranking_table th.gold_medals a {
  background: transparent url('../img/gold.png') center center no-repeat;
}
.ranking_table th.silver_medals a {
  background: transparent url('../img/silver.png') right center no-repeat;
}
.ranking_table th.bronze_medals a {
  background: transparent url('../img/bronze.png') right center no-repeat;
}


tr.chat-team {
  text-shadow:
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

tr.chat-team a {
  color: inherit;
}

/* NVA */
tr.team-1 {
  color: #ff5959;
}
/* USA */
tr.team-2 {
  color: #6699ff;
}
/* Spectator */
tr.team-3 {
  color: #ffff00;
}

.chat_table th, .chat_table td {
  border-left: 0;
  border-right: 0;
}

.chat_table td.time {
  color: #9c9c9c;
}
.chat_table td.name {
  text-align: right;
}

/* map */
.map_bg {
  position: relative;
  width: 512px;
  height: 512px;
  background-size: 100% 100%;
}

.map_point {
  position: absolute;
  margin-top: -3px;
  margin-left: -3px;
}

.map_point_legend {
  margin-left: 10px;
  margin-right: 4px;
}

.map_point_kills, .map_point_deaths {
  width: 6px;
  height: 6px;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  background-color: #0066cc;
}

.map_point_deaths {
  background-color: #ff471a;
}