::-webkit-scrollbar {
  display: block;
  width: 21px;
  background: transparent url('../img/scrollbar/scroll_bg.png') repeat-y top left;
  background-size: 100% 100%;
  background-color: #252826; /* chrome renders white background sometimes after refresh if transparent*/
}
::-webkit-scrollbar-corner {
  background-color: inherit;
}
::-webkit-scrollbar-button:vertical {
  background: transparent url('../img/scrollbar/scroll_up.png') no-repeat 1px 0;
}
::-webkit-scrollbar-button:vertical:decrement {
  background-image: url('../img/scrollbar/scroll_up.png');
}
::-webkit-scrollbar-button:vertical:decrement:hover {
  background-image: url('../img/scrollbar/scroll_up_b.png');
}
::-webkit-scrollbar-button:vertical:increment {
  background-image: url('../img/scrollbar/scroll_down.png');
}
::-webkit-scrollbar-button:vertical:increment:hover {
  background-image: url('../img/scrollbar/scroll_down_b.png');
}
::-webkit-scrollbar-thumb:vertical {
  min-height: 50px;
  width: 3px;
  border: 6px solid transparent;
  background-clip: content-box;
  background-color: #817046;
}
::-webkit-scrollbar-thumb:vertical:hover, ::-webkit-scrollbar-thumb:vertical:active {
  background-color: #917e4e;
}

::-webkit-scrollbar:horizontal {
  height: 21px;
  background: transparent url('../img/scrollbar/scroll_bg_horizontal.png') repeat-y top left;
  background-size: 100% 100%;
}
::-webkit-scrollbar-button:horizontal {
  background: transparent url('../img/scrollbar/scroll_left.png') no-repeat 0 0;
}
::-webkit-scrollbar-button:horizontal:decrement {
  background-image: url('../img/scrollbar/scroll_left.png');
}
::-webkit-scrollbar-button:horizontal:decrement:hover {
  background-image: url('../img/scrollbar/scroll_left_b.png');
}
::-webkit-scrollbar-button:horizontal:increment {
  background-image: url('../img/scrollbar/scroll_right.png');
}
::-webkit-scrollbar-button:horizontal:increment:hover {
  background-image: url('../img/scrollbar/scroll_right_b.png');
}
::-webkit-scrollbar-thumb:horizontal {
  min-width: 30px;
  width: 3px;
  border: 6px solid transparent;
  background-clip: content-box;
  background-color: #817046;
}
::-webkit-scrollbar-thumb:horizontal:hover, ::-webkit-scrollbar-thumb:horizontal:active {
  background-color: #917e4e;
}


@font-face {
  font-family: bfchat;
  src: url('../fonts/st9_regular.woff') format('woff');
}
@font-face {
  font-family: bfchat;
  font-weight: bold;
  src: url('../fonts/st9_bold.woff') format('woff');
}

body {
  margin: 0;

  background-color: #252826;

  background-color: #000;
  background-image: url('../img/bg/bg.png');
  background-position: top right;
  background-size: contain;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #f0f0f0;
  font-family: Helvetica;
  font-size: 12px;

  xfont-family: bfchat;
  xfont-size: 8px; /* for this font only use 8px, 16px, ..., in reality the font is 9px */
}

body.bg1 {
  background-image: url('../img/bg/bg.png'), url('../img/bg/khe_sahn.jpg');
}

body.bg2 {
  background-image: url('../img/bg/bg.png'), url('../img/bg/hue_alt.jpg');
}

a {
  color: #f0f0f0;
}

.clear {
  overflow: auto;
}

table {
  border-collapse: collapse;
  font-size: inherit;
}

table td, th {
  border: 1px solid #FFFFFF;
}

th {
  padding: 3px 5px;
}

h3 .less-important {
  font-weight: normal;
  color: #b9b9b9;
  text-transform: uppercase;
}

#navigation {
  position: fixed;
  top: 30;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 90px;
  line-height: 20px;
  margin: 0 10px 0 0;
  font-weight: bold;
}

#navigation a {
  display: block;
  padding: 5px;
  padding-left: 10px;
  background-color: rgba(50,50,10,0.3);
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 200ms linear;
}

#navigation a:hover {
  background-color: rgba(50,50,10,0.6);
}

#navigation input, #navigation select {
  width: 100%;
  font-size: 0.9em;
  padding: 5px;
  padding-left: 10px;
  border: 0;
  background-color: rgba(255,255,255,0.8);
}

#content {
  margin-left: 120px;
  padding-top: 20px;
}

@media only screen and (max-width: 1024px) {
  #navigation {
    position: static;
    height: 25px;
    width: 100%;
  }

  #navigation a {
    display: inline;
    padding: 0 5px;
    line-height: 2.5em;
  }

  #navigation form {
    margin: 0;
  }

  #navigation input, #navigation select {
    float: left;
    width: 40%;
  }

  #menu_timezone {
    margin-left: 5px;
  }

  #content {
    margin-left: 0;
  }
}

.meter {
  display: inline-block;
	height: 7px;  /* Can be anything */
  width: 70px;
	background: #555;
	padding: 2px;
}

.meter > span {
  display: block;
  height: 100%;
  background-color: rgb(43,194,83);
  background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  );
  overflow: hidden;
}

th .sorted {
  position: absolute;
  top: -14px;
  right: 0;
  text-indent: -100px;
  width: 15px;
  height: 12px;
  overflow: hidden;

  background-repeat: no-repeat;
  background-size: 15px 12px;
}

.sorted.order-descending {
  background-image: url('../img/descending4.png');
}

.sorted.order-ascending {
  background-image: url('../img/ascending4.png');
}



.styled_table.half {
  float: left;
  width: 30%;
  margin-right: 2%;
}

.styled_table.sortable {
  margin-top: 30px;
}

.styled_table caption {
  text-align: left;
  font-weight: bold;
  font-size: 1.5em;
}

.styled_table tbody {
  background-color: rgba(35, 57, 66, 0.75);
}

.styled_table tbody tr:nth-child(even) td {
  background-color: rgba(0,0,0,0.5);
}

.styled_table td {
  border-color: rgba(255,255,255,0.1);
  border-top: 0;
  border-bottom: 0;
  text-align: right;
  padding: 1px 2px;
}
.styled_table td.left {
  text-align: left;
}

.styled_table td.center {
  text-align: center;
}

.styled_table td:first-child {
  border-left: 0;
}
.styled_table td:last-child {
  border-right: 0;
}
.styled_table td.percent {
  text-align: right;
}

.styled_table th {
  border: 0 solid transparent;
  padding: 0;
  padding-top: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.styled_table th div {
  display: flex;
}

.styled_table th div:before, .styled_table th div:after {
  content: "";
  flex: 1 1 auto;
  min-width: 5px;
  height: 10px;
  margin-top: 10px;
  border-top: 1px solid #fff;
  background-color: rgba(35, 57, 66, 0.75);
}

.styled_table th:first-child div:before {
  border-left: 1px solid #fff;
}

.styled_table th:last-child div:after {
  border-right: 1px solid #fff;
}

/* adds 4px to width */
.styled_table th div span.label {
  flex: 0 1 auto;
  padding: 0 2px;
  height: inherit;
  line-height: 1.5em;
  background-color: rgba(255, 245, 255, 0.54);
  border: 1px solid rgba(0, 0, 0, 0.83);
  color: black;
  position: relative; /* so that sorting icon can be position to top of this label*/
  white-space: nowrap;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2), -2px 2px 2px 0 rgba(0, 0, 0, 0.19);
  /* translated3d is for font smoothing (though also blurries it)*/
  /*xtransform: rotate(-0.5deg) translate3d( 0, 0, 0);*/
  /*backface-visibility: hidden;
  transform: rotate(-0.5deg);*/
  font-family: 'Trebuchet MS';
  font-size: 12px;
  font-weight: bold;
}

.styled_table th span.label a {
  color: #030008;
  text-decoration: none;
}

.ranking_table th.icon a {
  display: inline-block;
  width: 12px;
  text-indent: -300px;
  overflow: hidden;
  filter: drop-shadow(0 0 2px #000);
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
}

.ranking_table th.icon-gold a {
  filter: drop-shadow(0 0 2px #000) drop-shadow(0 0 2px #000);
  background-image: url('../img/icons/gold.png');
}
.ranking_table th.icon-silver a {
  filter: drop-shadow(0 0 2px #000) drop-shadow(0 0 2px #000);
  background-image: url('../img/icons/silver.png');
}
.ranking_table th.icon-bronze a {
  filter: drop-shadow(0 0 2px #000) drop-shadow(0 0 2px #000);
  background-image: url('../img/icons/bronze.png');
}
.ranking_table th.icon-heals a {
  background-image: url('../img/icons/map_medic.png');
  xbackground-image: url('../img/icons/health_3dmap.png');
}
.ranking_table th.icon-repairs a {
  background-image: url('../img/icons/map_engineer.png');
}

.chat_table {
}

tr.chat-team {
  text-shadow:
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

tr.chat-team a {
  color: inherit;
}

/* NVA */
tr.team-1 {
  color: #ff5959;
}
/* USA */
tr.team-2 {
  color: #6699ff;
}
/* Spectator */
tr.team-3 {
  color: #ffff00;
}

.team-color-1, .team-color-2, tr.chat-team {
  text-shadow:
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

/* NVA */
.team-color-1 {
  color: #ff5959;
}
/* USA */
.team-color-2 {
  color: #6699ff;
}
/* Spectator */
.team-color-3 {
  color: #ffff00;
}


tr.chat-team .name, .name {
  padding-left: 16px;
  background: transparent url('../img/roundflagicons/nva_hud_flag.png') no-repeat center left;
}
tr.team-1 .name, .name.team-1 {
  background-image: url('../img/roundflagicons/nva_hud_flag.png');
}
tr.team-2 .name, .name.team-2 {
  background-image: url('../img/roundflagicons/us_hud_flag.png');
}
tr.team-3 .name, .name.team-3 {
  background-image: url('../img/roundflagicons/spec_hud_flag.png');
}

.chat_table th, .chat_table td {
  border-left: 0;
  border-right: 0;
}

.chat_table td.time {
  color: #9c9c9c;
}
.chat_table td.name {
  text-align: right;
}




.gold {
  color: rgb(255,215,0);
}

.silver {
  color: rgb(192,192,192);
}

.bronze {
  color: rgb(205,127,50);
}

.player-overwiew {
  overflow: hidden;
}

.player-overwiew .detail {
  float: left;
  margin: 4px;
  padding: 4px;
  background-color: rgba(0,0,0,0.7);
  border: 1px solid rgba(255,255,255,0.3);
}

.player-overwiew .detail .label {
  display: block;
  text-transform: uppercase;
  text-align: center;
  color: #b9b9b9;
}

.player-overwiew .detail .value {
  display: block;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 1.4em;
  padding: 2px 0;
}

.player-overwiew .detail .additional {
  display: block;
  text-align: center;
  font-size: 0.9em;
  line-height: 1.1em;
  color: #b9b9b9;
}

.player-overwiew .icon-heals {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;

  background-image: url('../img/icons/map_medic.png');
  line-height: 1em;
  vertical-align: middle;
}






/* map */


.map_point {
  position: absolute;
  margin-top: -2px; /* must be half of map point height */
  margin-left: -2px; /* must be half of map point width */
  width: 8px;
  height: 8px;

  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
}

.map_point.legend {
  position: static;
  margin: 0;
  margin-left: 10px;
  margin-right: 4px;
}

.map_point_kills {
  background-color: yellow;
}

.map_point_deaths {
  background-color: gray;
}


.leaflet-container {
  background-color: rgba(0,0,0,0.5) !important;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background-color: rgba(0,0,0,0.7) !important;
  color: white !important;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
